@import 'variables';

.header {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0 30px;

    .username {
        font-size: 12px;
    }
}
